# A lot of this was copied from
# https://github.com/messense/py-dissimilar/blob/main/.github/workflows/CI.yml
# More could be copied to broaden the range of supported platforms.

name: build

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:

jobs:
  manylinux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64, i686]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        architecture: x64
    - name: Build wheels
      uses: PyO3/maturin-action@v1
      with:
        rust-toolchain: stable
        target: ${{ matrix.target }}
        manylinux: auto
        args: --release --out dist -i 3.8 3.9 3.10 3.11
    - name: Check wheel
      if: matrix.target == 'x86_64'
      run: |
        pip install punwrap --no-index --find-links dist --force-reinstall
        python -c 'import punwrap'
    - name: Upload wheels
      uses: actions/upload-artifact@v3
      with:
        name: wheels
        path: dist

  musllinux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-musl
          - i686-unknown-linux-musl
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        architecture: x64
    - name: Build wheels
      uses: PyO3/maturin-action@v1
      with:
        rust-toolchain: stable
        target: ${{ matrix.target }}
        manylinux: musllinux_1_2
        args: --release --out dist -i 3.8 3.9 3.10 3.11
    - name: Check wheel
      if: matrix.target == 'x86_64-unknown-linux-musl'
      uses: addnab/docker-run-action@v3
      with:
        image: python:3.11-alpine
        options: -v ${{ github.workspace }}:/io -w /io
        run: |
          pip install punwrap --no-index --find-links /io/dist/ --force-reinstall
          python -c 'import punwrap'
    - name: Upload wheels
      uses: actions/upload-artifact@v3
      with:
        name: wheels
        path: dist

  pypi-publish:
    name: Release
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    needs: [ manylinux, musllinux ]
    environment:
      name: pypi
      url: https://pypi.org/p/punwrap
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: wheels
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
